/* === Global Css Area Start === */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}
h1{
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}
h2{
    color: #151414;
    font-size: 40px;
}
h3{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}
h4{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}
h5{
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}
p{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
}
a{
    display: inline-block;
    text-decoration: none;
}
span{
    display: inline-block;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 25px;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
}
.btn-secondary{
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px;
    border: none;
    background: #fff;
    border-radius: 5px;
}
/* === Global Css Area End === */

/* === Header Css Area Start === */
.header-section {
	width: 100%;
    background: url("../images/banner/banner2.png");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.hero {
	width: 490px;
	text-align: right;
}
.hero p{
	margin-top: 25px;
    margin-bottom: 30px;
    text-align: right;
}
/* === Header Css Area End === */

/* === Previous Year Section Css Area Start === */
.previous-year {
	width: 100%;
	padding: 120px 0;
    background: #fff;
}
.previous-year-area {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 120px;
}
.previous-year-area .left-image img{
    width: 450px;
}
.previous-year-area .right-text p{
    width: 410px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.previous-year-area .right-text .prev-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.previous-year-area .right-text .prev-list-item{
    position: relative;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 30px;
}
.previous-year-area .right-text .prev-list-item::after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background: url("../images/icons/check.png");
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
/* === Previous Year Section Css Area End === */

/* === Plans Section Css Area Start === */
.plan-section {
	width: 100%;
	background: #fff;
}
.plan-section h2{
	text-align: center;
}
.plan-section .plan-area {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
}
.plan-section .plan-area .single-plan {
	text-align: center;
}
.plan-section .plan-area .single-plan img{
	width: 93px;
}
.plan-section .plan-area .single-plan h3{
	margin-top: 30px;
    margin-bottom: 5px;
}
.plan-section .plan-area .single-plan span{
	color: #737272;
    font-size: 25px;
    font-weight: 500;
}
/* === Plans Section Css Area End === */

/* === Mind Set Section Css Area Start === */
.mind-set-section {
	width: 100%;
	padding: 120px 0;
}
.mind-set-section h2{
	color: #fff;
    margin-bottom: 25px;
}
.mind-set-section .mind-set-area {
	height: 300px;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url("../images/watch.png");
    position: relative;
    border-radius: 8px;
}
.mind-set-section .mind-set-area .mind-text {
	position: absolute;
	top: 50%;
	left: 60px;
	transform: translateY(-50%);
}
/* === Mind Set Section Css Area End === */

/* === Footer Section Css Area Start === */
.footer-section {
	width: 100%;
	background: #151414;
	padding: 120px 0;
}
.footer-area {
	width: 100%;
	display: flex;
	gap: 330px;
}
.footer-area .footer-left h4{
    margin-bottom: 15px;
}
.footer-area .footer-left p{
    margin-bottom: 15px;
    color: #fff;
}
.footer-area .footer-left p.long{
    margin-bottom: 25px;
}
.footer-area .footer-left .social-icon {
	display: flex;
	gap: 20px;
    margin-top: 30px;
}
.footer-area .footer-left .social-icon img{
	width: 40px;
}
.footer-area .footer-right input{
	color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid #FFF;
    width: 325px;
    height: 64px;
    background: transparent;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 25px;
}
.footer-area .footer-right input::placeholder{
	opacity: 1;
    color: #F3F3F3;
}
/* === Footer Section Css Area End === */